<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSI Application</title>
    <link rel="stylesheet" href="{% static 'CSS/Home.css' %}">
</head>
<body>

    

    <main>
        <div class="description">
            <h1>Welcome to Judiciary Information system</h1>
            <p>This system is built to manage daily activities that took place in courts whether recording scheduling,rescheduling
                and givivng the appointment to the people who always needs services concerned with justice.</p>
                <button type="submit" class="btn btn-outline-success"><a href="{% static ''}"></a>Get started</button>
        </div>
    </main>
  

</body>
</html>